<!DOCTYPE html>
<html>
<head>
  <title>Tweeter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
  <li role="presentation"><%= link_to 'Tweets', tweets_index_path %></li>
  <li role="presentation"><%= link_to 'New Tweet', new_tweet_path %></li>
</ul> 



<!-- Devise notice/alert -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>


<!-- @bbaum ps: Brandon11 name:Brandon email:btbaum11@gmail.com -->